

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="shortcut icon" href="favicon1.jpeg" type="image/x-icon">
    <title>Trial website</title>
    {%load static%}
    <link rel="stylesheet"  href="{% static 'styles.css' %}">
    
  </head>
  <body>
 
    
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
  <a class="navbar-brand" href="#">Mental Health</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">bla bla</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">bla</a>
          <a class="dropdown-item" href="#">bla</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Blogs</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Admin Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade out m-auto" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="2000" >
        <img src="https://images.pexels.com/photos/103889/pexels-photo-103889.jpeg?cs=srgb&dl=pexels-ali-naderi-103889.jpg&fm=jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
      <div class="carousel-item"  data-interval="2000">
        <img src="https://i1.adis.ws/i/canon/STEAM_BANNER-8108b1d8-5702-11ea-9bf4-b083fea007f2?w=100%&sm=aspect&aspect=4:1&qlt=80" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
         
        </div>
      </div>
      <div class="carousel-item"  data-interval="2000">
        <img src="https://www.cmu.edu/news/stories/archives/2016/february/images/meditation_853x480.jpg-min.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!-- jhvabgfjaerwbvdbvjdbvjndfbvjdbiaijs,vmbdsiuvhidjfshbiudfhgiudrhgisdhfigjhdfjgijdfhbisjdfbgiudfhgbiudfhviudfbiudfhbiudfbidfiu -->

<!-- kjhsdijadjvnadfkjbvssadflkjabdfkjnvjknkjbjhbjibiuahfisdghviuds -->




<blockquote class="otro-blockquote" data-aos="flip-right">
  You can’t control everything. Sometimes you just need to relax and have faith that things will work out. Let go a little and just let life happen.” 
  <span>— Kody Keplinger</span>
</blockquote>
<blockquote class="otro-blockquote" data-aos="flip-right">
  Happiness can be found even in the darkest of times, if one only remembers to turn on the light.” 
  <span>— Albus Dumbledore</span>
</blockquote>
<div class="btn">
<button class="cta">
  <span>Explore Me</span>
  <svg width="15px" height="10px" viewBox="0 0 13 10">
    <path d="M1,5 L11,5"></path>
    <polyline points="8 1 12 5 8 9"></polyline>
  </svg>
</button>
</div>
<!-- The Double facing cards
<h3 class="cuh" style="text-align: center;"><span>Why Chose Us?</span></h3><hr><hr>
<div class="flex justify-around">
  <div class="sqcard " data-aos="zoom-in-up">
     <div class="innersqcard ">
         <div class="Front"><img src="https://doonpsycho.com/wp-content/uploads/2021/02/experience-icon.png"></div>
         <div class="back">This is Back</div>
     </div>
     </div>
 
 <div class="sqcard" data-aos="zoom-in-up">
  <div class="innersqcard">
      <div class="Front"><img src="https://doonpsycho.com/wp-content/uploads/2021/02/approach-icon.png"></div>
      <div class="back">This is back</div>
  </div>
 </div>

 <div class="sqcard " data-aos="zoom-in-up">
  <div class="innersqcard">
      <div class="Front"><img src="https://doonpsycho.com/wp-content/uploads/2021/02/marital-council-icon.png"></div>
      <div class="back">This is Back</div>
  </div>
 </div>
</div> -->


<!-- End of double facing cards -->


      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <script>
 $('carousel slide').carousel()
 $(window).on("load",function(){
     $(".loader-wrapper").fadeOut("slow");
});
// Slide every slideDelay seconds
const slideDelay = 3000;

const dynamicSlider = document.getElementById("slider");

var curSlide = 0;
window.setInterval(()=>{
  curSlide++;
  if (curSlide === dynamicSlider.childElementCount) {
    curSlide = 0;
  }

  // Actual slide
  dynamicSlider.firstElementChild.style.setProperty("margin-left", "-" + curSlide + "00%");
}, slideDelay);
 </script>
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
   <script>
     AOS.init({ duration: 2000});
   </script>
   <script src="https://cdn.tailwindcss.com"></script>
   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </body>
</html>
