
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My form</title>
</head>
<body>
    <h1>Welcome</h1>
    <form action="" method="post">
    <h1>HEY!!! Welcome to your "own space"</h1>
    <h2> </h2>
    <p>What is your name? <input type="text" name="name"></p>
    <p>How are you feeling today? <input type="text" name="feel"></p>
    <h3>Your favourite time pass</h3>
    <p> Music <input type="radio" name="hobby"></p>
    <p> Dance <input type="radio" name="hobby"></p>
    <p> Writing <input type="radio" name="hobby"> </p>
    <h3></h3>

    
    <button type="submit">Submit</button>    
    </form>
</body>
</html>